@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin:0px;
    padding: 0px;
}

img {
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 3.5em;
    color:#1877F2 ;
    font-family: inherit;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    height: 28px;
    color: #1c1e21;
    font-weight: normal;

}
div {
    margin: auto;
    border-radius: 5px;
    background-color: #fff;
    width: 300px;
    height: 300px;
    box-shadow: -1px 3px 9px rgba(0, 0, 0, 0.295);
}
#botaoEntrar {
    background-color: #1877F2;
    color: #fff;
    display:flex;
    justify-content:center;
    align-items: center;
    margin: auto;
    width: 290px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    font-weight: bold;
}
#campoEmail {
    display:flex;
    justify-content:center;
    align-items: center;
    margin: auto;
    width: 290px;
    height: 50px;
    border-radius: 5px;
    border: none;
}
#campoSenha {
    display:flex;
    justify-content:center;
    align-items: center;
    margin: auto;
    width: 290px;
    height: 50px;
    border-radius: 5px;
    border: none;
}
p {
    text-align: center;
    color: #1877F2;
}
#botaoNovaconta {
    background-color: #36a420;
    color: #fff;
    display:flex;
    justify-content:center;
    align-items: center;
    margin: auto;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
a{
    text-decoration: none;
    color: #1877F2;
}
a:hover {
    text-decoration: underline;
}
.txtum {
    height: 110px;
    box-shadow: none;
    padding-bottom: 50px;
    text-align: center;
    width: 400px;
}
.txtbaixo {
    display: block;
    justify-content: center;
    color: black;
    padding-top: 40px;
}
.a2 {
    color: black;
}
main {
    max-width: 800px;
    min-width: 300px;
    margin: auto;
    padding: 20px;
}
aside {
    color: #737373;
    line-height: 1.5em;
    text-align: center;
    padding-top: 50px;
}
footer {
    color: #737373;
    margin: auto;
    text-align:center;
    padding-top: 30px;
}
#botaoNovaconta:hover {
    background-color: #40aa2a;
}
.a {
    display: block;
    justify-content: center;
    align-items: center;
}